body{
    font-size: 1rem;
}
.container {
    width: 1025px;
    height: 937px;
    margin-left: auto;
    margin-right: auto;
}
header {
    background-image: url(images/Header\ Background\ Image.png);
    background-size: cover;
    width: 100%;
    height: 17.3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container h1 {
    color: white;
    font-size: 2.1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
h2 {
    margin-left: 19.5%;
    margin-top: 4.1%;
    font-family: 'Montserrat', sans-serif; 
    color: #18344B;
    font-size: 1.4rem;
    font-weight: 700;
    width: 60.5%;
}
.box {
    width: 60.5%;
    height: 358px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    display: flex;
    box-sizing: border-box;
}
.box1 {
    height: 100%;
    flex: 1.14;
    margin-top: 2%;
    margin-right: 3.1%;
}
.box2 {
    height: 100%;
    flex: 1;
    position: relative;
}
.box21 {
    position: absolute;
    margin-top: 5%;
    height: 95%;
    width: 95%;
    background-color: #18344B;
}
.box22 {
    position: absolute;
    margin-top: 2%;
    margin-left: 3%;
    height: 95%;
    width: 95%;
    background-image: url(images/20210401_161928_3.jpg);
    border: solid 1px rgba(0, 0, 0, 0.562);
    box-shadow: 6px -6px rgba(221, 69, 69, 0.788);
    filter: brightness(1.2);
    background-size: cover;
    z-index: 2;
}
p {
    font-size: 0.6rem;
    font-family: 'Open Sans', sans-serif;
    color: #2C2C2C;
    padding-top: 12px;
    text-align: justify;
    line-height: 0.8rem;
}
.box11 {    
    height: 10%;
    width: 100%;
    margin-top: 5%;
    display: flex;
}
.box111 {
    flex: 4;
}
.box112{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.box111 p {
    padding-top: 0;
    padding-bottom: 2%;
    color: #18344B;
    font-size: 0.7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.box111 a {
    text-decoration: none;
    color: #18344B;
}
img {
    width: 20px;
    height: 20px;
    filter: brightness(1.1);
    transition-duration: 1s;
}
img:hover {
    transform: scale(1.5);
}
.box111 a {
    transition-duration: 0.25s;
}
.box111 a:hover {
    color: rgb(221, 69, 69);
    font-size: 0.75rem;
}
section {
    margin-top: 2%;
    width: 60.5%;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    position: relative;
}
label {
    display: block;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    color: #18344B;
    font-weight: 600;
    margin: 1% 0%;
}
/* input[type=text] {
    width: 100%;
    padding: 15px 10px;
    box-sizing: border-box;
    border: solid 1px #939393;
    border-radius: 10px;
} */
textarea {
    width: 95%;
    height: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #939393;
    font-family: 'Open Sans', sans-serif;
    color: #2C2C2C;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 15px;
}   

/* input[type=submit] {
    background-color: #18344B;
    border: none;
    color: white;
    width: 105px;
    height: 29px;
    border-radius: 15px;
    margin-left: 83%;
    margin-top: 2%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
} */
.fakesubmit {
    background-color: #18344B;
    border: none;
    width: 105px;
    height: 29px;
    border-radius: 15px;
    margin-left: 82%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
}
.fakesubmit:hover {
    background-color: rgb(221, 69, 69);
}
.fakesubmit a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
h2 a {
    text-decoration: none;
}
.testing {
    height: 8%;
    width: 228px;
    position: absolute;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    margin-top: 37%;
    margin-left: 0px;
    background-color: #18344B;
    display: flex;
    justify-content: center;
    padding-bottom: 1%;
}
.testing p {
    font-family: 'Montserrat', sans-serif; 
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}
form { 
    margin-left: 6%;
    position: absolute;
}
form :hover {
    transition-duration: 3s;
}
form :hover:nth-child(3n-1) {
    background-color: rgba(78, 202, 78, 0.664);
    
}
form :hover:nth-child(5) {
    background-color:rgba(233, 37, 23, 0.76);
}

